<!DOCTYPE html>
<html ng-app>
<head>
 <title>Hello World, AngularJS</title>
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>
<body>
 Write some text in textbox:
 <input type="text" ng-model="person" />
 <h1> {{ person }}</h1>

	<div ng-controller="PersonController">    
		<h2>Persons</h2>    
		<ul>        
			<li ng-repeat="person in persons"> {{ person }} </li>    
		</ul> 
	</div> 
</body>
	<script type="text/javascript">    
		function PersonController($scope) {        
			$scope.persons = [
								{name:"bob",age:"21",salary:"30 000"},
								{name:"bob",age:"21",salary:"25 000"},
								{name:"bob",age:"21",salary:"36 000"},
								{name:"bob",age:"25",salary:"28 000"},
								{name:"bob",age:"31",salary:"42 000"},
								{name:"bob",age:"35",salary:"50 000"}
							 ];    
		} 
	</script> 
</html>