<!DOCTYPE html>
<html ng-app>
<head>
 <title>Hello World, AngularJS</title>
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>
<body>

  <form novalidate class="simple-form">
    Name: <input type="text" ng-model="user.name" /><br />
    Age: <input type="text" ng-model="user.age" /><br />
    Salary: <input type="text" ng-model="user.salary" /><br />
   
    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(user)" value="Save" />
  </form>
  <pre>userName = {{user.name}}</pre>
  <pre>userAge = {{user.age}}</pre>
  <pre>userSal = {{user.salary}}</pre>

</body>
<script>
  controller('PersonController', ['$scope', function($scope) {

   
   $scope.addPerson = function(personName,personAge, personSalary){

        var person = {
            name: personName,
            age: personAge,
            salary: personSalary
        };

        persons.add(person);

    }
    }]);
</script> 
</html>